header {
  /* background-color: #9a48d0; */
  background-color: #33415c;
  text-align: center;
  font-size: 50pt;
  color: orange;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px
}

.form {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  /* background-color: #9a48d0; */
  background-color: #5c677d;
}

.custom-select {
  width: 350px;
  font-size: 18pt;
  align-content: center;
  font-weight: bold;
  position: relative;
  cursor:pointer;
  border-radius: 20px;
  border-width: thick;
  border-color:orange;
}

.card {
  width: 500px;
  height: 500px;
  max-height: 500px;
  display: grid;
  border-style:solid;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  background-image: linear-gradient(to bottom right, red, yellow);
  cursor: context-menu;
}

.images {
  width: 400px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #33415c;

}

.container {
  padding-top: 50px;
  text-align:center;
  padding-bottom: 50px;
  background-color:#7d8597;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  font-size: 12pt;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px
}

.links {
  padding-top: 150px;
  font-size:20pt
}